footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.has-danger .form-control-feedback, .has-danger .form-control-label {
  color: #d9534f;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-container {
  display: flex;
}

.navbar-container .navbar-brand {
  margin-right: 30px;
}

#pagination {
  justify-content: center;
}

.gallery-item {
  cursor: pointer;
}
